/* Floating alert section begins. This section deals with animating the flash messages for the site. Special thanks to Brad Schiff for: https://github.com/LearnWebCode/react-course */
.floating-alert {
    display: none;
    position: absolute;
    z-index: 999;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    -moz-animation: floatingAlert ease-in 5s forwards;
    -webkit-animation: floatingAlert ease-in 5s forwards;
    -o-animation: floatingAlert ease-in 5s forwards;
    animation: floatingAlert ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
    display: block;
}

@keyframes floatingAlert {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) scale(1.2);
    }

    9% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
    }

    91% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) scale(1.2);
    }
}

@-webkit-keyframes floatingAlert {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) scale(1.2);
    }

    9% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
    }

    91% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) scale(1.2);
    }
}
/* Floating alert section end */

.huge-margin-below {
    margin-bottom: 200px;
}

.block-checkboxes {
    display: block;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.separator {
    margin: 0 1em 0;
}